.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#root {
  width: 100%;
  height: 100vh;
  position: relative;
}

h2 {
  font-size: 36px;
  font-weight: 400;
}

nav {
  width: 15%;
  height: 100vh;
  position: absolute;
  left: 0;
  top: 0;
  text-align: center;
}

a {
  text-decoration: none;  
}

ul {
  list-style-type: none;
  padding-left: 0;
}

.content {
  width: 85%;
  height: 100vh;
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border-left: 1px solid black;
  overflow-y: auto;
  padding: 2em auto;
}

.decription {
  font-size: 24px;
}


/* Homework 1 */
.text {
  font-style: italic;
}

.big {
  width: 200px;
  height: 200px;
  background-color: blueviolet;
  display: flex;
  justify-content: center;
  align-items: center;
}

.medium {
  width: 150px;
  height: 150px;
  background-color: goldenrod;
  display: flex;
  justify-content: center;
  align-items: center;
}

.small {
  width: 100px;
  height: 100px;
  background-color: plum;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Homework 2 */
h3, h4 {
  margin: 0 auto;
}

/* Homework 6 */
.loader {
  border: 16px solid #f3f3f3;
  border-top: 16px solid #3498db;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  align-self: center;
  margin: 2rem;
  animation: spin 2s linear infinite;
  }

  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
    }